@use "../../styles/_colors.scss" as c;
@use "../../styles/sizes" as s;
@use "../../styles/mixins" as m;

.menu {
    width: 100%;
    height: 10vh;
    background-color: c.$main-color;
}

.container {
    width: s.$container-size;
    margin: 0 auto;
    height: 100%;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-info {

    display: flex;

    img {
        height: 40px;
        width: 40px;
        margin-right: 15px;
    }

    div {
        color: #fff;
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        font-size: s.$page-header;
    }
}



