@use "../../styles/_colors.scss" as c;
@use "../../styles/sizes" as s;
@use "../../styles/mixins" as m;


.NewEducationalProgram {

    label {
        display: block;
        color: c.$main-color;
        font-size: s.$text;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .combo{
        border: 1px solid c.$text-color;
        border-radius: 10px;
        margin-bottom: 20px;
        input {
            width: 100%;
            border: 1px solid c.$text-color;
            box-sizing: border-box;
            outline: none;
            padding: 10px 15px;
            border-radius: 10px;
            color: c.$text-color;
        }
        
        [role=option]{
            padding: 10px 15px;
        }
    }

    .link {
        @include m.link-style(c.$main-color);
        display: block;
        margin: 15px auto 0;
        width: 50%;
        text-align: center;
    }
}